.Header {
  width: 100%;
  height: 10vh;
  font-family: 'Alike', serif;
  padding: 5px;
  display: flex;
}

.HeaderText {
  width: 80vw
}

.HeaderText h1, p {
  text-align: center;
}

.HeaderImg {
  height: 100%;
  width: 20vw;
  display: flex;
}

.Header img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}